{% extends "base_unite.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow rounded">
        <div class="card-body">
            <h2 class="card-title mb-4">Профиль пользователя {{user.name}}</h2>

            <p><strong>Почта:</strong> {{user.email}}</p>
            <p><strong>О себе:</strong> {{user.about or "Пока пусто..." }}</p>
            <p><strong>Дата регистрации:</strong> {{ user.created_date.strftime('%d.%m.%Y') }}</p>

            <hr>

            <p><strong>Загружено альбомов:</strong> {{ user.albums|length }}</p>
            <p><strong>Загружено треков:</strong> {{ user.tracks|length }}</p>

            {% if current_user.id == user.id %}
            <a href="{{ url_for('edit_profile') }}" class="btn btn-outline-primary">Редактировать профиль</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
