{% extends "base_unite.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        {% if track.album_id == 0 %}
        <img src="{{ track.cover_url }}" alt="Обложка" class="img-fluid rounded shadow">
        {% else %}
        <img src="{{ album.cover_url }}" alt="Обложка" class="img-fluid rounded shadow">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h1 class="lh-lg"><strong>Трек:</strong> {{ track.name }}</h1>
        <p><strong>Исполнитель:</strong> {{ track.artist }}</p>
        <p><strong>Жанр:</strong> {{ track.genre }}</p>
        <p><strong>Длительность:</strong> {{ track.length }}</p>
        <p><strong>Дата выхода:</strong> {{ track.release_date.strftime('%d.%m.%Y') }}</p>
        {% if current_user.is_authenticated %}
        <div class="card shadow mb-3">
            <div class="card-body">
                <h5 class="card-title">Прослушать трек</h5>
                <audio controls class="w-100">
                    <source src="{{ url_for('listen', track_id=track.id) }}" type="audio/mpeg">
                    Ваш браузер не поддерживает аудиоплеер.
                </audio>
            </div>
        </div>
        <a href="{{ url_for('download', track_id=track.id) }}" class="btn btn-success mb-3">Скачать</a>
        {% endif %}
    </div>
</div>
{% endblock %}