{% extends "base_unite.html" %}

{% block content %}
<h2>Загрузить альбом</h2>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.artist.label(class="form-label") }}
        {{ form.artist(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.genre.label(class="form-label") }}
        {{ form.genre(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.length.label(class="form-label") }}
        {{ form.length(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.release_date.label(class="form-label") }}
        {{ form.release_date(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.cover.label(class="form-label") }}
        {{ form.cover(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>
{% endblock %}
